<div class="footer">
  <div class="footer-cot">
    <div class="footer-wjs">
      <p class="footer-logo">
        <img src="/images/security/footer-logo.png">
      </p>
      <h3>
        4006-89-4006 <br>
        010-53563799
      </h3>
      <p class="footer-service">
        <span class="service-time">服务热线(服务时间:9:00----12:00)</span> <br>
        <a href="">
          <i class="iconfont icon-kefu"></i>
          在线客服
        </a> <br> <br> 关注我们: <i class="iconfont icon-weixin"><img class="img-wx" src="/images/security/wx.jpg"></i> &nbsp;
        <a href="" class="iconfont icon-weibo"></a>
        <a href="" class="icon-gswj">
            <img src="/images/security/gswj.png">
        </a>
      </p>
    </div>
    <div class="footer-about">
      <dl>
        <dt><a href="">关于我们</a></dt>
        <dd><a href="">公司介绍</a></dd>
        <dd><a href="">管理团队</a></dd>
        <dd><a href="">合作伙伴</a></dd>
        <dd><a href="">友情链接</a></dd>
        <dd><a href="">联系我们</a></dd>
      </dl>
      <dl class="fa_new">
        <dt><a href="">最新动态</a></dt>
        <dd><a href="">媒体报道</a></dd>
        <dd><a href="">公司动态</a></dd>
        <dd><a href="">利率报告</a></dd>
        <dd><a href="">更新历史</a></dd>
      </dl>
      <dl>
        <dt><a href="">帮助中心</a></dt>
        <dd><a href="">新手指引</a></dd>
        <dd><a href="">安全保障</a></dd>
        <dd><a href="">操作指南</a></dd>
        <dd><a href="">VIP投资人</a></dd>
      </dl>
    </div>
    <div class="footer-other">
      <h3>合作伙伴</h3>
      <img src="/images/security/footer-other.png">
    </div>
  </div>
  <div class="footer_bom">
    <div class="bom-txt">
      <ul class="bom_info">
        <li class="fi_pl0">
          <a href="">我要理财</a>
        </li>
        <li><a href="">我要借款</a></li>
        <li>忘记密码</li>
        <li>如何提现</li>
        <li class="fi_pr0">
          <a href="">登录</a> | <a href="">注册</a>
        </li>
      </ul>
      <p>
        ©版权所有©深圳微金所金融信息服务有限公司 粤ICP备 16000732号-1 &nbsp;
        <a href=""><img src="/images/security/police.png" class="img-police">京公网安备 11010802024696号</a>
      </p>
    </div>
    <div class="footer_zs">
      <img src="/images/security/footer_zs.png">
    </div>
  </div>
</div>
