
  <div class="container">

    <div class="t">
      <img src="../images/001.png" alt="">
      <img src="../images/anniversary.png" alt="">
    </div>
    <div class="menu">
      <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">我要投资</a></li>
        <li><a href="#">安全保障</a></li>
        <li><a href="#">新手专区</a></li>
        <li><a href="#">新闻公告</a></li>
        <li><a href="#">关于我们</a></li>
        <li><a href="#" class="photo"><img src="../images/anonymous.jpg" alt="">我的帐户</a></li>
      </ul>
    </div>

  </div>
  <div class="about"><img src="../images/about-header.jpg" alt="" style="width:100%"></div>
  <div class="guide">
    <div class="container guide-box">
      <div class="gb-left">
        <ul>
          <li class="a"><a href="./关于我们1.html">公司简介</a></li>
          <li class="b"><a href="./关于我们2.html">管理团队</a></li>
          <li class="c"><a href="./关于我们3.html">董事团队</a></li>
          <li class="d"><a href="./关于我们4.html">发展历程</a></li>
          <li class="e"><a href="./关于我们5.html">合作伙伴</a></li>
          <li class="f active"><a href="./关于我们6.html">友情链接</a></li>
          <li class="g"><a href="./关于我们7.html">联系我们</a></li>
        </ul>
      </div>
      <div class="gb-right">
        <img src="../images/014.png" alt="">
        <ul>
          <li><a href="#">网贷天空</a></li>
          <li><a href="#">web网财</a></li>
          <li><a href="#">网络天眼</a></li>
          <li><a href="#">无锡贷款</a></li>
          <li><a href="#">网贷指南</a></li>
          <li><a href="#">网贷平台排名</a></li>
        </ul>
        <ul>
          <li><a href="#">网贷中心</a></li>
          <li><a href="#">网贷之星</a></li>
          <li><a href="#">网络天眼</a></li>
          <li><a href="#">无锡贷款</a></li>
          <li><a href="#">网贷指南</a></li>
          <li><a href="#">网贷平台排名</a></li>
        </ul>
        <ul>
          <li><a href="#">网贷中心</a></li>
          <li><a href="#">网贷之星</a></li>
          <li><a href="#">网络天眼</a></li>
          <li><a href="#">无锡贷款</a></li>
          <li><a href="#">网贷指南</a></li>
          <li><a href="#">网贷平台排名</a></li>
        </ul>
        <ul>
          <li><a href="#">网贷中心</a></li>
          <li><a href="#">网贷之星</a></li>
          <li><a href="#">网络天眼</a></li>
          <li><a href="#">无锡贷款</a></li>
          <li><a href="#">网贷指南</a></li>
          <li><a href="#">网贷平台排名</a></li>
        </ul>
        <ul>
          <li><a href="#">网贷中心</a></li>
          <li><a href="#">网贷之星</a></li>
          <li><a href="#">网络天眼</a></li>
          <li><a href="#">无锡贷款</a></li>
          <li><a href="#">网贷指南</a></li>
          <li><a href="#">网贷平台排名</a></li>
        </ul>


      </div>
    </div>
  </div>
