<div class="top">
  <div class="container clearfix">
    <div class="top-left">
      <span class="top-phone">
        <i class="iconfont icon-dianhua"></i> 客服电话：4006-89-4006/010-53563799/（9:00~21:00）
      </span>
      <span class="line">|</span>
      <span>
        <a href="">
          <i class="iconfont icon-kefu"></i>
          在线客服
        </a>
      </span>
      <span class="line">|</span>
      <span>
        <a href="">
          <i class="iconfont icon-shouji"></i>
          移动客户端
        </a>
        <img src="/images/security/app-qrcode.jpg" class="hide-img">
      </span>
      <span class="line">|</span>
      <span>
        <i class="iconfont icon-weixin"></i>
        微信公众号二维码
        <img src="/images/security/wx.jpg" class="hide-img" width="140">
      </span>
      <span class="line">|</span>
      <span>
        <a href="">
          <i class="iconfont icon-icon-test"></i>
          财富登录
        </a>
      </span>
    </div>
    <div class="top-right">
      <a href="" class="right-in">进入存管专区</a>
      <a href="">帮助中心</a>
      <span class="line">|</span>
      <span class="anonymous">
        <a href="">注册</a> &nbsp;
        <a href="">登录</a>
      </span>
    </div>
  </div>
</div>
<nav>
  <div class="clearfix container">
    <div class="logo">
      <a href="" class="iconLogo">
        <img src="/images/security/logo.png">
      </a>
    </div>
    <div class="menu">
      <ul>
        <li class="active"><a href="/">首页</a></li>
        <li><a href="">我要投资</a></li>
        <li><a href="">安全保障</a></li>
        <li><a href="">新手专区</a></li>
        <li><a href="">新闻广告</a></li>
        <li><a href="">关于我们</a></li>
        <li class="anonymous">
          <a href="">
            <span class="account"></span>
            我的账户
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
