<%- include("htmlhead.ejs")%>
<%- include("header.ejs")%>
  <div class="new_guide">
    <div class="new_top"></div>
    <div class="new_image">
      <img src="../images/guide/guide1.jpg" alt="">
    </div>
    <div class="new_middle">
      <div class="new_box">
        <div class="new_left_list">
          <ul class="new_left_ul">
            <li id="a"><a href="./new_guide.html">操作指南</a></li>
            <li id="b"><a href="./new_novices.html">新手指引</a></li>
            <li id="c"><a href="./new_vip.html">vip投资人</a></li>
            <li id="d"><a href="./new_question.html">常见问题</a></li>
            <li class="active" id="e"><a href="./new_interpret.html">名词解释</a></li>
            <li id="f"><a href="./new_products.html">产品介绍</a></li>
          </ul>
        </div>
        <div class="new_right_content question_content">
          <div class="question_list">
            <ul>
              <li>
                <p class="question_list_title">关于微金所</p>
              </li>
              <li>
                <p id="index" class="question_list_ds">
                  <i class="icon-question-plus icon"></i>微金所</p>
              </li>
              <li>
                <p class="question_list_answer">
                  微金所是一个互联网微金融资产交易平台，面向个人及机构投资者提供安全、便捷、透明、高收益的理财计划。投资人投资的产品为经过严格准入审核的优质信贷服务机构推荐并全额担保的小额借款项目。微金所平台搭建以风险拨备金为核心、信贷服务机构动态评级机制为准绳的8层安全投资通道，为投资人提供低门槛、低风险、高收益的理财选择，实现跨区域投资，丰富投资选择。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>借款人</p>
              </li>
              <li>
                <p class="question_list_answer">
                  是指在网站上进行借款活动的用户。凡18周岁以上的中国公民，都可以成为借款人。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>投资人</p>
              </li>
              <li>
                <p class="question_list_answer">
                  是指已经注册为微金所平台的会员，并通过平台自主选择出借一定数量资金予他人的自然人。凡18周岁以上的中国公民，都可以成为投资人。
                </p>
              </li>
              <li>
                <p class="question_list_title">关于项目</p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>项目标的</p>
              </li>
              <li>
                <p class="question_list_answer">
                  当借款人成功发布一个借款请求时，我们将包含各种借款信息的该请求称为一个项目标的。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>投标</p>
              </li>
              <li>
                <p class="question_list_answer">
                  指投资人将其账户内指定的金额投资给指定的项目标的的行为。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>流标</p>
              </li>
              <li>
                <p class="question_list_answer">
                  指一个项目标的的投标期限已过，但其需要的借款没有足额筹集，即借款失败。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>满标</p>
              </li>
              <li>
                <p class="question_list_answer">
                  指一个项目标的在招标期限内足额筹集到所需资金，无法再进行投资。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>逾期</p>
              </li>
              <li>
                <p class="question_list_answer">
                  指借款用户未按协议约定时间进行足额还款，此时标的状态为逾期。（至今微金所未发生任何项目逾期的情况）
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>放款</p>
              </li>
              <li>
                <p class="question_list_answer">
                  指一个项目标的满标后且已符合放款标准，微金所将通过上海银联这一第三方支付平台把所筹资金打入借款人在微金所的账户中，即借款人成功贷款。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>还款</p>
              </li>
              <li>
                <p class="question_list_answer">
                  指借款人根据《借款合同》中的《还款计划表》按时将其利息、本金返还给指定投资人的行为。<br> 例：微周转-娄底中小保十期 2015-02-04 满标计息，期限六个月，根据还款计划表，在此后每月的04号及2015-08-04的24点之前借款人会将利息、本金返还到投资人的微金所投资账户内。<br> 提前还款：微投资、微转让产品如遇节假日，有一定数量的还款项目可安排提前还款（具体以微金所平台实际发出的公告为准），例如某项目本该周六还款，如借款人可以提前还款，将会提前到周五的24点之前还款到投资人的微金所投资账户内，应还本息暂不受提前还款的影响！
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>计息</p>
              </li>
              <li>
                <p class="question_list_answer">
                  指标的满标并成功放款，开始给投资人计算利息的行为。<br> 计息规则：微投资、海航通宝、稳赢保：工作日15点之前满标，当日计息，15点之后满标下一个工作日计息；非工作日满标，下一个工作日计息。

                  <br> 微转让：15点之前满标，当天计息；15点之后满标，次日计息；

                  <br> 微金宝、月月盈：投资成功即开始计息。

                  <br> 例：

                  <br> 微周转-金达保十八期，2015-03-20 15:19:02满标，15点之后满标，下一个工作日计息，由于3月20日是周五，下一个工作日是3月23日（周一），所以微周转-金达保十八期从2015-03-23日周一开始计息。

                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>进行中项目</p>
              </li>
              <li>
                <p class="question_list_answer">
                  还款中的项目与筹款中的项目。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>已完成项目</p>
              </li>
              <li>
                <p class="question_list_answer">
                  投资项目已结束并成功还款的投资项目。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>年化收益与年化收益率</p>
              </li>
              <li>
                <p class="question_list_answer">
                  年化收益率是指投资期限为一年所获的收益率。
                </p>
                <p class="question_list_answer">
                  按月计息：<br> 年化收益率=（投资内收益/本金）/（投资月数/12）× 100%<br> 年化收益=本金×年化收益率
                  <br> 实际收益=本金×年化收益率×投资月数/12
                  <br>
                </p>
                <p class="question_list_answer">
                  按天计息：<br> 年化收益率=（投资内收益/本金）/（投资天数/360）× 100%<br> 年化收益=本金×年化收益率
                  <br> 实际收益=本金×年化收益率×投资天数/360
                  <br>
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>项目星级</p>
              </li>
              <li>
                <p class="question_list_answer">
                  是指微金所平台对担保公司的动态授信评级，这决定该项目对应的担保公司在微金所平台的授信额度，反映该担保公司的具体情况。<br>
                  <span style="color: #4fc4f5">★★★★★★</span> 该星级的公司净资产至少高于2亿元，业务规模位居前列，具有很强的担保能力，承诺对其推荐的项目提供全额本息担保，属于当地小贷龙头企业，在行业排名高，公司在所属的省市有很高的知名度，控股股东为全国知名企业。
                  <br>
                  <span style="color: #4fc4f5">★★★★★</span> 该星级的公司净资产至少高于2亿元，业务规模位居前列，具有很强的担保能力，承诺对其推荐的项目提供全额本息担保，属于当地小贷龙头企业，在行业排名较高，公司在所属的省市有较高知名度。
                  <br>
                  <span style="color: #4fc4f5">★★★★</span> 该星级的公司净资产至少高于2亿元，业务规模位居前列，承诺对其推荐的项目提供全额本息担保,属于当地小贷龙头企业，在行业排名较高。
                  <br>
                  <span style="color: #4fc4f5">★★★</span> 该星级的公司净资产至少高于2亿元，承诺对其推荐的项目提供全额本息担保,属于当地小贷龙头企业。
                  <br>
                  <span style="color: #4fc4f5">★★</span> 该星级的公司净资产至少高于1亿元，承诺对其推荐的项目提供全额本息担保，具有较强的担保能力。
                  <br>
                  <span style="color: #4fc4f5">★</span> 该星级的公司净资产至少高于5000万元，承诺对其推荐的项目提供全额本息担保，具有较强的担保能力。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>还款方式</p>
              </li>
              <li>
                <p class="question_list_answer">
                  微金所平台的项目标的主要有等额本息、利随本清和按月付息到期还本这三种还款方式。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>等额本息</p>
              </li>
              <li>
                <p class="question_list_answer">
                  即借款人每月以相等的金额偿还借款本息，也是银行房贷等采用的方法。因计算中存在四舍五入，最后一期还款金额与之前各期略有不同。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>利随本清</p>
              </li>
              <li>
                <p class="question_list_answer">
                  即项目标的到期后，借款人一次性归还所有本金和利息。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>按月付息到期还本</p>
              </li>
              <li>
                <p class="question_list_answer">
                  即借款人每月偿还固定利息，最后一期偿还全部本金。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>微转让</p>
              </li>
              <li>
                <p class="question_list_answer">
                  是债权转让的一种，将未来拥有收益的资产转让出来，换取流动性。
                  <br> 【转让条件】
                  <br> 并不是微金所平台所有的项目在任何时候都能转让！债权转让需要满足以下条件：
                  <br> 1.投资人必须持有微投资产品，且还款方式为“月付息到期还本”的标的，（项目期限除以4）向上取整个月，才可进行债权转让。
                  <br> 2.投资人购买的转债权产品，暂不支持再次转让。
                  <br> 3.已购买的微投资产品，返息日前10天内，不能进行债权转让操作（例如产品返息日为当月31日，则当月21日-31日，不能进行债权转让操作）。
                  <br> 【特别提醒】
                  <br> a.溢价：即将转让时未收收益预先提取，则这种方式的转让利率将低于项目原利率，可溢价最大金额为该笔投资将要获取的所有收益；折价：即将转让时已获得的收益让给本次转让的其他投资人，则这种方式的转让利率将高于项目原利率，可折价最大金额为该笔投资已获取的收益。
                  <br> b.在选择折价和溢价金额时，请综合考虑自己对资金周转的具体要求。如您希望快速收回本金，则可以选择折价方式让出自己已获得的部分收益以实现转让标的的快速满标；如果您对于快速收回本息并不特别看重，则可以选择溢价方式先提取部分未获收益再进行转让。
                  <br> c.微金所推荐您按照微金所平台不同期限项目的对应利率进行转让。例如还剩1个月的转让项目可以设定10%左右的利率，还剩6个月的转让项目可以设定12%左右的利率。转让利率为转让人自己设定，本条建议仅供参考。
                  <br> 【温馨提示】
                  <br> 1.转债权募集期：最大天数为5天，最小天数为1天，系统默认为3天。
                  <br> 2.转债权手续费：微金所将收取转出债权的投资人债权额度的0.3%作为手续费，如计算结果不足10元，按照10元收取。
                  <br> 3.满标与流标：转债权产品在募集期内筹集满标，满标资金将划转至债权转让人的微金所账号，如在募集期结束后该转债权还未满标，则该转债权项目流标，已募集的资金将如数退还至投资人的微金所账号。如某一转债权项目已流标，则该债权标的将不能再发起转债权操作。如转让人只转让部分债权，剩余持有部分也不能再发起转债权操作。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>微周转</p>
              </li>
              <li>
                <p class="question_list_answer">
                  是信贷服务商推荐并提供全额本息保障、服务于中小微企业经营性资金周转需求的系列借款项目。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>微周转-消费金融</p>
              </li>
              <li>
                <p class="question_list_answer">
                  由借款人发起的，最终投向消费贷款的借款项目，以向急需资金的优质个人客户提供消费贷款。<br> 首先，消费借款人借款金额较小，多在5000元左右，金额较低，因此无太大偿付风险；此外，借款人数量较多，小额且风险足够分散。
                  <br> 其次，这些消费借款人均由泰康金融通过56个因子多维度专业信用评级筛选而来。泰康金融是一家专注于筛选和审核个人消费贷款项目的金融服务公司，核心团队从2010年即开始研发小微信贷的风险控制技术，目前已经具备独立研发信用风险评分卡的核心能力。依托该技术成果，团队逾期率控制在很低的水平，远低于市场领导者，风控水准和效果得到市场充分验证。
                  <br> 本项目最大的特点为小额分散，风险相对可控。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>微收益</p>
              </li>
              <li>
                <p class="question_list_answer">
                  是信贷服务商推荐并提供全额本息保障的优质债权资产收益权转让系列项目。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>预约投标</p>
              </li>
              <li>
                <p class="question_list_answer">
                  是微金所平台推出的方便投资人预约投资的功能。投资人可以通过个人中心的“预约投标”模块，填写您期望的最低年化收益、最低担保等级、投资期限、还款方式、预约金额范围、预约失效日期等相关预约条件。当有符合您设定条件的项目上线时，系统会按照预约的先后顺序进行自动投标，投标成功后微金所会以短信的形式告知投资人。若因账户余额不足，无符合条件的标的等原因未能达成交易，您的设置依然有效。仅微投资、海航通宝、稳赢保的标的支持预约投资。预约投标时不可使用代金券、加息券、红包等优惠条件。
                </p>
              </li>
              <li>
                <p class="question_list_title">关于账户</p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>投资金额</p>
              </li>
              <li>
                <p class="question_list_answer">
                  是指投资人对项目标的进行投标的金额。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>冻结金额</p>
              </li>
              <li>
                <p class="question_list_answer">
                  【投资时冻结】<br> 用户对某项目标的进行投标后，在此项目标的招标期结束之前，这部分投标金额将被暂时冻结。如果项目标的放款，这部分金额将转给该项目标的的借款人；如果该项目标的流标，这部分金额将解冻变为投资人帐户的可用金额。
                  <br> 【提现时冻结】
                  <br> 投资人发起提现申请，为了避免投资人对申请提现的资金进行操作，该部分资金将被暂时冻结，从可用余额里扣除，待微金所结算人员处理提现需求后，冻结资金转至投资人提现银行卡，该部分冻结资金清零。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>资产总计</p>
              </li>
              <li>
                <p class="question_list_answer">
                  资产总计=可用余额+冻结资金+待回款本息+未赎回的月月盈本息
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>累计收益</p>
              </li>
              <li>
                <p class="question_list_answer">
                  累计已完成投资项目的利息收益总额。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>可用余额</p>
              </li>
              <li>
                <p class="question_list_answer">
                  是指您在微金所的账户中当前可支配的余额，不包括处于冻结状态的资金。比如，在您进行了提现操作时，微金所将自动打款到您的银行卡，在银行完成打款处理之前，您提现部分的金额将会处于"冻结"状态。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>累计投资</p>
              </li>
              <li>
                <p class="question_list_answer">
                  累计已投资项目的投资本金总额。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>累计预约</p>
              </li>
              <li>
                <p class="question_list_answer">
                  通过预约成功的本金合计。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>待收总额</p>
              </li>
              <li>
                <p class="question_list_answer">
                  还款中投资项目的待收本金加待收收益。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>待收收益</p>
              </li>
              <li>
                <p class="question_list_answer">
                  还款中投资项目的待收收益。
                </p>
              </li>
              <li>
                <p id="index" class="question_list_ds"><i class="icon-question-plus icon"></i>VIP投资人</p>
              </li>
              <li>
                <p class="question_list_answer">
                  VIP投资人计划是微金所设计并推出的，以投资微金所平台项目标的为基础的稳健、尊享、高透明度的投资计划。新注册用户可通过累计年化投资额或单日年化投资额满足条件直接获得相应等级VIP的资格与特权，加入VIP 投资人计划的投资用户可享受V1、V2、V3、V4、V5、V6和V7的项目投标特权，以及免收短信服务费，实名认证费，平台管理费的尊贵特权。您可以通过注册账户后累计年化投资额达到规定额度或者单日年化投资额达到规定额度获得对应级别的VIP权限，当累计到更高的年化投资额时， 可以升级高级别VIP获得更多专属权益。
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("footer.ejs")%>
  <%- include("htmlfoot.ejs")%>
