<%- include("htmlhead.ejs")%>
  <%- include("header.ejs")%>

    <div class="new_guide">
      <div class="new_top"></div>
      <div class="new_image">
        <img src="../images/guide/guide1.jpg" alt="">
      </div>
      <div class="new_middle">
        <div class="new_box">
          <div class="new_left_list">
            <ul class="new_left_ul">
              <li id="a"><a href="./new_guide.html">操作指南</a></li>
              <li class="active" id="b"><a href="./new_novices.html">新手指引</a></li>
              <li id="c"><a href="./new_vip.html">vip投资人</a></li>
              <li id="d"><a href="./new_question.html">常见问题</a></li>
              <li id="e"><a href="./new_interpret.html">名词解释</a></li>
              <li id="f"><a href="./new_products.html">产品介绍</a></li>
            </ul>
          </div>
          <div class="new_right_content">
            <div class="new_right_box">
              <div class="new_title_content text-right">
                <img class="img-guide2" src="../images/guide/guide2.jpg" alt="">
                <dl>
                  <dt style="color:#ff9201;">董事长寄语</dt>
                  <dd>亲爱的微金所的投资人&nbsp;你们好：</dd>
                  <dd>首先我代表微金所，热烈欢迎您的加入，非常感谢您对微金所的偏爱。</dd>
                  <dd>互联网金融还在发展初期，能够关注到这种新型理财方式并且信任微金所，是我们</dd>
                  <dd>的荣幸，同时我们也会为了您的信任，努力做得更好，祝大家在微金所投资愉快！</dd>
                </dl>
                <img class="img-guide3" src="../images/guide/guide3.png" alt="">

              </div>
              <h2>
              <i class="point">&nbsp;</i>
              什么是微金所?
            </h2>
              <p class="line-height">
                微金所主要是提供固定收益类产品的投资理财平台，目前上线的都是300万以下、年化利率最高可达<span class="red ">6%-12.5%</span>、多种期限的投资项目，您可以100元起投，投资金额由自己决定，大部分项目是每个月给您发利息，到期的时候一次性还本金和最后一期利息，也有利随本清和等额本息的项目<a class="orange " href="# ">（区别详情请点击查看）</a>，可根据您的喜好选择。全程都可以在网上操作，非常简单方便，我们线上所有的项目都是由经过微金所严格筛选的具有较强运营能力和风险管理能力的机构提供，以保证您的资金安全。
              </p>
              <h2>举例说明:</h2>
              <ul>
                <li>1、年化收益12.5%以内，如果您有一万块钱，放在银行一年能有200块钱利息，放在微金所平台上能最高有1,250元的利息。</li>
                <li>2、投资周期从1天到36个月不等。也就是说想放多久您自己说了算，跟银行定期存款一样。</li>
                <li>3、按月付息的项目都是投资满标开始计息，按月支付利息。利随本清是到期一次性还本金和利息，等额本息是每月还一部分本金和利息，所以请选择自己喜欢的还款方式。</li>
                <li style="padding-top:10px; ">举个例子，假设一个月付息的项目是6个月的，年化利率<span class="red ">12%</span>，相当于每月<span class="red ">1%</span>。</li>
                <li>您在8月1日投入10万元，那么会发生如下的故事：</li>
                <li>9月1日，获得利息1,000元，可以直接提现或继续投资；</li>
                <li>10月1日，获得利息1,000元，可以直接提现或继续投资；</li>
                <li>11月1日，获得利息1,000元，可以直接提现或继续投资；</li>
                <li>12月1日，获得利息1,000元，可以直接提现或继续投资；</li>
                <li>1月1日，获得利息1,000元，可以直接提现或继续投资；</li>
                <li>2月1日，获得利息约1,000元+本金10万元，可直接提现或继续投资。</li>
                <li>至此您半年一共获得6,000元的利息，可以犒劳一下自己了，也可以继续投资形成复利。</li>
                <h2>
                <i class="point ">&nbsp;</i>
                在微金所投资理财安全吗？
              </h2>
                <p class="line-height ">
                  我们对于提供借款企业的担保公司有严格的审核机制和限制条件，因为涉及到专业标准此处省略一万个字...抵押类项目需要提供足值抵押物作为保障。担保公司全额担保，小贷公司全额回购来实现本息保障。<br> 公司对每一个借款项目都会收取2%-17%的保证金，作为风险拨备金，以此来防范可能出现的逾期风险。对您负责就是对我们自己负责。
                </p>
                <h2>
                <i class="point ">&nbsp;</i>
                为什么微金所可以提供这么好的利率？
              </h2>
                <p class="line-height ">
                  因为微金所是创新互联网微金融交易平台，通过互联网直接促成借款企业与投资人之间交易，省却了很多中间环节的成本，所以能将更多的收益回报给投资人，并且我们的利率是在国家法律保护的定存4倍的范围之内，所以是非常合理的。
                </p>
                <h2>
                <i class="point ">&nbsp;</i>
                什么样的风控才可靠？
                <span class="new_title_span ">基本法则：小额分散，大数法则</span>
              </h2>
                <table class="table_box ">
                  <tbody>
                    <tr>
                      <th width="18% ">类别</th>
                      <th width="24% ">微金所的安全风控</th>
                      <th width="18% ">风险较高的风控</th>
                      <th width="30% ">理由</th>
                    </tr>
                    <tr>
                      <td>单笔项目金额</td>
                      <td>300万以下</td>
                      <td>1,000万以上</td>
                      <td>
                        1.单笔金额过大，风险拨备金无法足以覆盖可能出现的风险.<br> 2.如出现逾期，担保公司代偿压力过大
                        <br> 3.金额越大，资金实际去向越难以控制
                      </td>
                    </tr>
                    <tr>
                      <td>年化利率</td>
                      <td>15%以下</td>
                      <td>15%以上</td>
                      <td>过高利率对应着高风险</td>
                    </tr>
                    <tr>
                      <td>同一担保公司授信额度</td>
                      <td>按照评估进行授信</td>
                      <td>无节制的放款</td>
                      <td>可着一只羊薅羊毛后果可想而知</td>
                    </tr>
                    <tr>
                      <td>同一借款人授信额度</td>
                      <td>300万以下</td>
                      <td>无节制的放款</td>
                      <td>道理同上</td>
                    </tr>
                    <tr>
                      <td>地域分散</td>
                      <td>
                        每个区域借款<br> 不超过总盘的10%
                      </td>
                      <td>区域过度集中</td>
                      <td>一旦出现区域性风险，也不会影响全局</td>
                    </tr>
                    <tr>
                      <td>地域借贷风险回避</td>
                      <td>
                        避开个别民间借贷高危地区， 有些省市是担保公司有系统性风险的地区， 坚决杜绝。
                      </td>
                      <td>
                        高危地区担保<br> 项目集中
                      </td>
                      <td>不了解担保行业地域风险的公司常常会为了项目不顾后果</td>
                    </tr>
                    <tr>
                      <td>行业风险回避</td>
                      <td>避开高风险行业的项目</td>
                      <td>所有行业都做</td>
                      <td>所有行业都做，容易出现系统性风险</td>
                    </tr>
                  </tbody>
                </table>
                <h2>《经济观察报》整版大篇幅报道：微金所风控模式靠谱吗</h2>
                <p class="img-guide4 "><a href="# "><img src="../images/guide/guide4.jpg " alt=" " /></a></p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("footer.ejs")%>
      <%- include("htmlfoot.ejs")%>
