<%- include("htmlhead.ejs")%>
  <%- include("header.ejs")%>
    <div class="new_guide">
      <div class="new_top"></div>
      <div class="new_image">
        <img src="../images/guide/guide1.jpg" alt="">
      </div>
      <div class="new_middle">
        <div class="new_box">
          <div class="new_left_list">
            <ul class="new_left_ul">
              <li class="active" id="a"><a href="./new_guide.html">操作指南</a></li>
              <li id="b"><a href="./new_novices.html">新手指引</a></li>
              <li id="c"><a href="./new_vip.html">vip投资人</a></li>
              <li id="d"><a href="./new_question.html">常见问题</a></li>
              <li id="e"><a href="./new_interpret.html">名词解释</a></li>
              <li id="f"><a href="./new_products.html">产品介绍</a></li>
            </ul>
          </div>
          <div class="new_right_content">
            <div class="new_right_box">
              <div class="new_content1 ncp ncb">
                <dl>
                  <dt>注册</dt>
                  <dd>填写手机号等信息注册</dd>
                </dl>
                <a class="botton" href="#">立即注册</a>
              </div>
              <div class="new_content2 ncp ncb text-right">
                <dl>
                  <dt>实名认证  </dt>
                  <dd>输入姓名身份证号等进</dd>
                  <dd style="padding-right:80px;">行身份认证</dd>
                </dl>
                <a class="botton" href="#">立即实名认证</a>
              </div>
              <div class="new_content3 ncp ncb">
                <dl>
                  <dt>充值</dt>
                  <dd>充入您想要投资的金额</dd>
                </dl>
                <a class="botton" href="#">立即充值</a>
              </div>
              <div class="new_content4 ncp text-right">
                <dl>
                  <dt>投标</dt>
                  <dd>选择心仪的项目进行投标</dd>
                </dl>
                <a class="botton" href="#">立即投标</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("footer.ejs")%>
      <%- include("htmlfoot.ejs")%>
