<%- include("htmlhead.ejs")%>

  <div class="sign-top">
    <div class="container">
      <div class="link">
        <ul>
          <li><a href="/" class="on">返回首页</a></li>
          <li><a href="./login.html">登录</a></li>
          <li class="on">
            <a href="./register.html">注册</a>
            <span class="slider"></span>
          </li>
        </ul>
      </div>
      <div class="logo">
        <img src="/images/login/logo.png" alt="">
      </div>
    </div>
  </div>

  <div class="sign-body register">
    <div class="container clearfix" style="height:620px;">
      <div class="ad">
        <a href="#" style="background: url(../images/login/ad.jpg) center no-repeat"></a>
      </div>
      <div class="formBox">
        <h2>注册微金所</h2>
        <form id="regist-form" action="index.html" method="post">
          <ul>
            <li>
              <i class="icon icon-user-o"></i>
              <input type="text" class="input-box" name="mobile" id="mobile" placeholder="请输入您的手机号码">
              <p class="mobile-err error-msg">请输入正确的手机号</p>
            </li>
            <li>
              <i class="icon icon-lock"></i>
              <input type="password" class="input-box" name="loginPwd" id="pwd" placeholder="密码">
              <p class="pwd-err1 error-msg">请输入密码</p>
              <p class="pwd-err2 error-msg">密码的长度8-16位</p>
              <p class="pwd-err3 error-msg">密码为8-16位的字母和数字组合</p>
            </li>
            <li>
              <i class="icon icon-lock"></i>
              <input type="password" class="input-box" name="confirm_pwd" id="conpwd" placeholder="确认密码">
              <p class="conpwd-err1 error-msg">请输入确认密码</p>
              <p class="conpwd-err2 error-msg">两次输入的密码不一致</p>
            </li>
            <li>
              <i class="icon icon-image"></i>
              <input type="text" class="input-box" name="imgCode" id="imgCode" placeholder="图片验证码">
              <img src="/images/login/code.png" class="img-code" id="img-code">
              <p class="img-err error-msg">请输入验证码</p>
            </li>
            <li>
              <i class="icon icon-mobile-o"></i>
              <input type="text" class="input-box" name="mobileCode" id="mobileCode" placeholder="手机验证码">
              <a href="#" class="getCode" id="getCode">获取验证码</a>
              <p class="mobileCode-err error-msg">请输入手机短信码</p>
            </li>
            <li class="option">
              <span class="text-left linkColor" id="invite-option">
                <label>▶</label>
                请输入邀请码
              </span>
              <span class="text-right">
                <label for="xieyi">
                  <input type="checkbox" name="xieyi" id="xieyi">
                  我已阅读并同意<a href="#" target="_blank" class="sublink">微金所《服务协议》</a>
                  <p class="xieyi-err error-msg">请请同意微金所服务协议</p>
                </label>
              </span>
            </li>
            <li style="display:none;">
              <i class="icon icon-invitation"></i>
              <input type="text" class="input-box" name="vipCode" placeholder="输入邀请码">
            </li>
            <li>
              <input type="button" class="btn-large" id="regist-btn" value="注册">
            </li>
            <li class="option">
              已有账号？
              <a href="./login.html" class="sublink">立即登录</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
    <div class="footer">
      <p>©版权所有©深圳微金所金融信息服务有限公司 粤ICP备 16000732号-1</p>
    </div>
  </div>

  <%- include("htmlfoot.ejs")%>
